html, body {
  padding: 0px;
  margin: 0px;
  color: black;
}

/* Utils */
.right {
	float: right;
}
.left {
	float: left;
}
.well {
  background: #fff;
  border-bottom: 3px solid #31A6E0;
}

/* Navbar */
.search-bar {
  padding-top: 10px;
}
.nav {
  border-top: 0px !important;
  box-shadow: none;
}
.navbar {
  height: 45px;
  background: #31A6E0;
  border-top: 0px !important;
  box-shadow: none;
  border-radius: 0 !important;
  padding-bottom: 10px;
  border-right: 0px;
  border-left: 0px;
  margin: 0px;
}

.navbar .nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

.navbar li ul a:hover, .navbar li ul li:hover {
  color: #55C7FF;

}

.top-player {
  margin-top: 50px;
}

.players {
  margin-top: 50px;
}
.players img {
  display: block;
  margin: 0 auto;
}
.players p {
  font-size: 15px;
}
.info {
  padding-right: 10px;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }